%div#sortable
  - @feed_arr.each do |feed|
    %div{id: "sortable-#{feed.id}-#{feed.feed_order}"}
      %h1{id: "toggle-#{feed.url.parameterize}" }
        %table.feed_header_table
          %tr
            %td= link_to feed.title, "#", id: "collapse-#{feed.url.parameterize}", class: 'sortable_expand'
            %td
              = link_to edit_feed_path(feed.id) do
                %i{ class: "fa fa-pencil-square-o"}
            %td
              = link_to feed_path(feed.id), method: :delete, data: {confirm: "Are you sure?" } do
                %i{ class: "fa fa-times"}
      - if @feed[feed.url].respond_to?(:entries)
        %div{id: "content-#{feed.url.parameterize}", class: 'content_hidden' }
          - @feed[feed.url].entries.each do |post|
            %h3= link_to(post.title, post.url, class: bold_if_new(post)) + " - #{format_time(post)}"
            = simple_format post.summary
      - else
        %div{id: "content-#{feed.url.parameterize}", class: 'content_hidden' }
          This seems to be a bad feed.
          = link_to 'Remove?', feed_path(feed.id), method: :delete
